@{
    ViewData["Title"] = "detaile";
}
@model FinalProject.Models.Book

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <h2>This is the concrete information.</h2>
    <p>ID: @Model.Id</p>
    <p>Name: @Model.Name</p>
    <p>Genre: @Model.Genre</p>
    <p>Author: @Model.Author</p>
</div>